.headerPrincipal .container{
    display :flex;
    align-items: center;
    justify-content: space-between;
}
.headerPrincipal-nav {
    display :flex;
}
.rodapePrincipal-patrocinadores .container{
     display:flex;
     justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.rodapePrincipal-contatoForm-fieldset{
    display :display;

}
.rodapePrincipal-navMap-list {
display: flex;
flex-direction: column;
height: 260px;
flex-wrap: wrap;
}
.contenidoPrincipal-cursos{
  display:flex;
  flex-wrap: wrap;
 
}
.contenidoPrincipal-cursos-link{
    display:flex;
    width: 23%;
 


}
.videoSobre .container{
    display:flex;

   
}
.videoSobre-sobre{
text-align: center;
display: flex;
flex-direction: column;

}
.videoSobre-sobre{
    flex-grow: 2;
    flex-shrink: 2;
}
.videoSobre-sobre-list{
    flex-grow: 2;
} 
/* responsive */
@media  (max-width:768px) {
    

.headerPrincipal .container{
 flex-direction: column;
 align-items: initial;
 text-align: center;

}
.headerPrincipal-nav {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  
}

.contenidoPrincipal-cursos{
   flex-direction: column;

   
  }
  .contenidoPrincipal-cursos-link{
    width: 100%
 }
 .rodapePrincipal-navMap-list {
  
    height: auto;
     flex-wrap: nowrap;
  
    }
    .rodapePrincipal-patrocinadores .container{
   flex-direction: column;
   }
   .rodapePrincipal-contatoForm{
    display: flex;
    justify-content: center;
    width: 100%; 


}
.rodapePrincipal-patrocinadores .rodapePrincipal-patrocinadores-list {
    align-items: center;
    width: 100%;
    margin: 0;
}
.headerPrincipal-nav-link-app{
    order: -1;
}

.videoSobre .container{
flex-direction: column;

   
}
   
}